body {
	font-size: 16px;
	color: #fff;
	background-color: #000;
	font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
	background-color: #000;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
	padding-top: 20px;
}

#nav-list a {
	background: #fff;
	color: #1592bf;
	text-align: center;
}

#nav-list a:hover {
	background: #c4cccf;
}

.navbar-brand h1 { /*Restaurant name */
	font-family: 'Lora', serif;
	color: #fff;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
 }

 .navbar-header button.navbar-togle, .navbar-header .icon-bar {
 	border: 1px solid #1592bf;
 }

 .navbar-header button.navbar-toggle {
 	clear: both;
 	margin-top: -30px;
 	float: right;
 }